    html {
        text-align: center;
        background-color: rgba(255, 192, 203, 0.683);
        color: black;
        font-size: 15pt;
        padding: 80px;
        overflow-x: hidden;
    }

    .button {
        background-color: rgba(244, 147, 56, 0.366);
        border-radius: 8px;
        block-size: 40px;
        inline-size: 100px;
        font-size: 16px;
        box-shadow: 8px 2px 5px 2px grey;
    }

    .button:hover {
        background-color: rgb(197, 240, 245);
        cursor: pointer; 
    }

    .calculator {
      background-color: #444;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      margin: 20px auto;
      max-width: 400px;
      padding: 10px;
      text-align: right;
    }

    .display {
      background-color: #666;
      border-radius: 5px;
      color: #fff;
      font-size: 36px;
      margin-bottom: 10px;
      padding: 10px;
      text-align: right;
      height: 30px;
      padding: 10px;
      overflow-wrap: break-word;
      min-height: 42px;
      height: auto; /* hauteur automatique */
    }

    .button-row {
      display: flex;
    }

    .buttoncalculator {
      background-color: #ccc;
      border: none;
      border-radius: 5px;
      color: #222;
      cursor: pointer;
      font-size: 24px;
      flex-grow: 1;
      margin: 5px;
      padding: 5px;
      transition: background-color 0.3s;
    }

    .buttoncalculator:hover {
      background-color: #eee;
    }

    .buttoncalculator:active {
      background-color: #aaa;
    }

    .zero {
      flex-basis: 50%;
    }

    .operator {
      background-color: #FF8C00;
      color: #fff;
    }

    .scratch-pad {
      background-color: #444;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      color: #fff;
      margin: 50px auto;
      max-width: 300px;
      max-height: 800px;
      min-height: 100px;
      padding: 30px;
      word-wrap: break-word;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .scratch-pad h2 {
      font-size: 16px;
      margin: 0;
      float: left;
      text-decoration: underline;
      text-underline-offset: 0.3rem;
      font-family: "Walter Turncoat", cursive;
    }

    .scratch-pad p {
      font-size: 14px;
      margin: 15px 0 0 0;
      float: left;
      font-family: "Walter Turncoat", cursive;
    }

@media screen and (min-width: 769px) and (max-width: 1200px) {
  html {
    font-size: 16pt;
  }

  .button {
    inline-size: 100px;
  }

  .calculator {
    max-width: 400px;
  }

  .display {
    font-size: 28px;
  }

  .buttoncalculator {
    font-size: 24px;
  }
}

/* Media queries pour les écrans de taille moyenne */
@media screen and (max-width: 768px) {
  html {
    font-size: 14pt;
  }

  .button {
    inline-size: 80px;
  }

  .calculator {
    max-width: 300px;
  }

  .display {
    font-size: 24px;
  }

  .buttoncalculator {
    font-size: 20px;
  }
}

/* Media queries pour les écrans de petite taille */
@media screen and (max-width: 360px) {
  html {
    font-size: 12pt;
  }

  .button {
    inline-size: 60px;
  }

  .calculator {
    max-width: 200px;
  }

  .display {
    font-size: 18px;
  }

  .buttoncalculator {
    font-size: 16px;
  }
}
